.btn {
  height: 70px;
}
.nav>li>a {
  padding-right: 5px !important;
  padding-left: 5px !important;
  margin-left: 0px;
  margin-right: 0px;
}
.container>.row {
  padding-bottom: 10px !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.tab-content>div>.container>.row>div {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

body {
  background-color: #000000 !important;
}

body>div>.row {
  background-color: #000000 !important;
}

button, .btn {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    box-shadow: none !important;
}

.btn:focus, .btn:active:focus {
  outline: none;
  box-shadow: none !important;
}