.btn {
  height: 70px;
}
.nav>li>a {
  padding-right: 5px !important;
  padding-left: 5px !important;
  margin-left: 0px;
  margin-right: 0px;
}
.container>.row {
  padding-bottom: 10px !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.tab-content>div>.container>.row>div {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

body {
  background-color: #000000 !important;
}

body>div>.row {
  background-color: #000000 !important;
}

/* remove color canges and outlines while focused */
.btn, .btn:focus, .btn:active, .btn:active:focus {
  outline: none;
  box-shadow: none !important;
}

.btn-info:hover {
  background-color: #5bc0de !important;
  border-color: #46b8da !important;
}

.btn-primary:hover {
  background-color: #337ab7!important;
  border-color: #2e6da4!important;
}

.btn-success:hover {
  background-color: #5cb85c!important;
  border-color: #4cae4c!important;
}
